[push]
	default = simple
[user]
	name = Chris Pierce
	email = cpierce@csdurant.com
	IdentityFile = ~/.ssh/id_ed25519
[credential]
    helper = cache -- timeout=3600
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
    pager = true
[merge]
    tool = meld
[mergetool]
    keepBackup = false
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    co = checkout
    ci = commit
    aa = add --all
    st = status
    di = diff
    dc = diff --cached
[core]
    excludesfile = ~/.gitexcludes
    filemode = false
	editor = vim
[init]
    defaultBranch = main
[commit]
    gpgsign = true
[gpg]
    program = gpg