[push]
    default = simple
    autoSetupRemote = true
[user]
    name = Chris Pierce
    email = cpierce@csdurant.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP3O+vs3dV4dC+MaZDnEIyfr6hfQWTH8mEptTeRE4KhV
[credential]
    helper = cache -- timeout=6300
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
    pager = true
[merge]
    tool = code
[mergetool]
    keepBackup = false
[mergetool "code"]
    cmd = code --wait $MERGED
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    co = checkout
    ci = commit
    cp = cherry-pick
    aa = add --all
    st = status
    di = diff
    dc = diff --cached
[format]
    pretty = format:"%h - %an, %ar : %s"
[fetch]
    prune = true
[core]
    excludesfile = ~/.gitignore_global
    filemode = false
    editor = vim
    ignorecase = false
[init]
    defaultBranch = main
[gpg]
    format = ssh
[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
    gpgsign = true
